body {
    /* background: url(#{resource['img/img.jpg']}); */
    font-family: "Century Gothic";
    font-size: 14px;
}

h1{
    color: #999999;
    font-size: 30px;
    margin-left: 10%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 20px 5px;
    cursor: pointer;
  }
  
  .button1 {padding: 5px 20px; border-radius: 6px;}


  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  